body {
  backgound: #ff55AA
}
h1 {
  text-align: center;
}
.caixa1 {
  position: absolute;
  background: blue;
  color: blueviolet;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}
.caixa2 {
  position: absolute;
  background: brown;
  color: aqua;
  width: 200px;
  height: 200px;
  right: 205px;
  bottom: 0;
}
.caixa3 {
  position: absolute;
  background: bisque;
  color: antiquewhite;
  width: 200px;
  height: 200px;
  right: 410px;
  bottom: 0;
}
.caixa4 {
  position: absolute;
  background: aquamarine;
  color: #ff55AA;
  width: 200px;
  height: 200px;
  right: 615px;
  bottom: 0;
}
.menuPrincipal {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb (69, 135, 139);
  width: 100%;
  height: 45px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: #ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background: rgbI(167, 238, 53);
  color: black;
}